#espaces {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  #information {
    display: flex;
    flex-direction: row;
    align-items: center;
    .warning {
      width: 75%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      margin: 2px auto;
      & > p {
        margin: 0 auto;
        height: 100%;
        text-align: center;
        background: #e67e22;
        padding: 5px;
        color: white;
        width: 75%;
      }
    }
  }

  .content {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    padding: 0;

    header {
      height: 50px;
      background: #34495e;

      .title {
        h2 {
          color: white;
          width: 100%;
          font-family: "Roboto", sans-serif;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      padding: 20px;
      font-family: "Roboto", sans-serif;

      #espaceNavigation {
        width: 25%;
        header {
          background: #68859b;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: white;
          h3 {
            font-family: "Roboto", sans-serif;
          }
        }

        ul {
          background: #ecf0f1;
          list-style: none;
          li {
            display: flex;
            flex-direction: row;
            min-height: 5vh;
            transition: background 500ms;
            .active {
              background: #bdc3c7;
            }
            a {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              color: #34495e;
              text-decoration: none;
              height: 5vh;
              text-align:center;
              width: 100%;
            }

            &:hover {
              background: #bdc3c7;
            }
          }
        }
      }

      #annonces {
        width: 75%;
        .annonce {
          padding: 0 10px;
          header {
            background: #68859b;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
              color: white;
            }
          }

          article {
            padding: 10px;
          }
        }
      }


      /*
        ESPACE: AIDE
       */
      #espaceAide {
        width: 74%;
        margin-left: 1%;

        &>a {
          display: flex;
          width: 25%;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          background: #2ecc71;
          color: #FFFF;
          margin: 5px 0;
          height: 30px;
        }

        header {
          background: #68859b;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h3 {
            color: white;
          }
        }

        #aide {
          &>table {
            border-spacing: 0;
            width: 100%;
            &>thead {
              &>tr {
                color: #34495e;
                background: #e5e9ea;
                &>th {
                  padding: 10px;
                  width: calc(100% / 4);
                }
              }
            }
            &>tbody {
              &>tr {
                &>td {
                  padding: 10px;
                  text-align: center;
                  &>a {
                    text-decoration: none;
                    color: white;
                    background: #2ecc71;
                    padding: 5px;
                    border-radius: 5px;
                  }
                }
              }
            }
          }
        }

        /*
          ESPACE: ENVOIE D'UNE DEMANDE D'AIDE
         */
        #aide_envoyer {
          form {
            button {
              -webkit-transition: background 500ms;
              -moz-transition: background 500ms;
              -ms-transition: background 500ms;
              -o-transition: background 500ms;
              transition: background 500ms;
              display: flex;
              margin: 0 auto;
              width: 50%;
              text-align: center;
              align-items: center;
              justify-content: center;
              padding: 10px;
              background: #27ae60;
              border: none;
              cursor: pointer;
              color: #ecf0f1;
              &:hover {
                background: #2ecc71;
              }
            }
          }
        }
      }

      /*
        ESPACE: TCHAT
       */
      #espaceTchat {
        width: 74%;
        margin-left: 1%;

        &>a {
          display: flex;
          width: 25%;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          background: #2ecc71;
          color: #FFFF;
          margin: 5px 0;
          height: 30px;
        }

        header {
          background: #68859b;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h3 {
            color: white;
          }
        }
        #tchats {
          &>.tchat {
            background: #f5f9fa;
            display: flex;
            flex-direction: row;
            margin: 5px 0;
            a {
              display: flex;
              flex-direction: row;
              text-decoration:none;
              color: #34495e;
              & > .img {
                width: 10%;

                & > img {
                  width: 100%;
                  -webkit-border-radius: 100%;
                  -moz-border-radius: 100%;
                  border-radius: 100%;
                }
              }

              & > .content {
                display: flex;
                flex-direction: column;
                width: 90%;
                margin: 10px;
                padding: 0;

                & > p {
                  font-family: "Raleway", sans-serif;
                }

                & > time {
                  display: flex;
                  justify-content: flex-end;
                  font-style: italic;
                }
              }
            }
          }
        }
      }

      #espaceTchatEnvoyer {
        width: 74%;
        margin-left: 1%;

        header {
          background: #68859b;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h3 {
            color: white;
          }
        }

        #tchat {
          .reponse {
            background: #f2f6f7;
            display: flex;
            flex-direction: row;
            &>.img {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 5%;
              &>img {
                width: 100%;
                border-radius: 100%;
              }
            }

            &>.message {
              display: flex;
              align-items: center;
              width: 95%;
              &>.user {
                font-style: italic;
                font-size: 14px;
              }
            }
          }
        }
      }

    }
  }
}